*{
    padding: 0px 4px;
    margin: 0;
    box-sizing: border-box;
}
.card-text{
    color: #B9B7BB;
}
.fa-brands{
    color: #98989F;
}
.fa-brands:hover{
    color: #FFFFFF;
}
.dim:hover{
  opacity: 0.7;
}
.trans:hover{
      transform: scale(1.1);
}
.cutt{
  clip-path: polygon(
    8px 0, calc(100% - 8px) 0, 100% 8px, 100% calc(100% - 8px),
    calc(100% - 8px) 100%, 8px 100%, 0 calc(100% - 8px), 0 8px
  );
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.color:hover{
  color: #B39AFF;
}
.gray{
  filter: grayscale(100) brightness(1) invert(0.6);
}
.gray:hover{
  filter: grayscale(100) brightness(1) invert(1);
}
.shine:hover{
  border: 1px solid;
  border-image: url(media/footer-background.BIgtbvhx.jpg) 30 round;
}
    @media (max-width: 1007px) {
     .scroll{
       animation: scrollRight 20s linear infinite;   
      }
      @keyframes scrollRight {
        from { transform: translateX(100%); }
        to   { transform: translateX(-100%); }
      }
    }
    @media (max-width: 640px) {
      .scroll{
        animation: scrollRight 20s linear infinite;    
      }
       @keyframes scrollRight {
      from { transform: translateX(28%); }
      to   { transform: translateX(-100%); }
    }
    }
    .box {
      cursor: pointer;
      border-bottom: none; 
    }
    .activee {
      border-bottom: 3px solid #B39AFF; 
    }
  .clip{
    opacity: 0;
    transition: opacity 0.3s ease;
    top: 10%;
    right: 1%;
  }
  .clippp{
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 11px;
    font-weight: 500px;
  }
  .clipp:hover .clip{
    opacity: 1;
  }
  .clipp:hover .clippp{
    opacity: 0;
  }