*{
    padding: 0px 4px;
    margin: 0;
    box-sizing: border-box;
}
.card-text{
    color: #B9B7BB;
}
.section12{
    border: 2px solid red;
    box-shadow: 0px -109px 71px -76px rgba(22,23,29,0.88) inset;
-webkit-box-shadow: 0px -109px 71px -76px rgba(22,23,29,0.88) inset;
-moz-box-shadow: 0px -109px 71px -76px rgba(22,23,29,0.88) inset;
}

.fa-brands{
    color: #98989F;

}

.cutt{
 
  clip-path: polygon(
    8px 0, calc(100% - 8px) 0, 100% 8px, 100% calc(100% - 8px),
    calc(100% - 8px) 100%, 8px 100%, 0 calc(100% - 8px), 0 8px
  );
  
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.color:hover{
  color: #B39AFF;
}


.gray{
  filter: grayscale(100) brightness(0) invert(1);
}

   
    @media (max-width: 1007px) {
     .scroll{
       animation: scrollRight 20s linear infinite;       
     }
      @keyframes scrollRight {
     from { transform: translateX(100%); }
     to   { transform: translateX(-100%); }
   }
   }

     @media (max-width: 640px) {
      .scroll{
        animation: scrollRight 20s linear infinite;
      }
       @keyframes scrollRight {
      from { transform: translateX(28%); }
      to   { transform: translateX(-100%); }
    }
    }